
      <h1 class="display-1">Welcome <%= current_user.username %></h1>
      <h2 class="h3">Click to Check out your Books</h2>
      <div class="btn-container">
       <a class="btn btn-primary col-md-3 mb-3"href="/books/filter/Reading" class="btn">Reading</a>
       <a class="btn btn-success col-md-3 mb-3"href="/books/filter/Wishlist" class="btn">Wishlist</a>
       <a class="btn btn-danger col-md-3 mb-3"href="/books/filter/Completed"class="btn">Completed</a>
      </div>
      <table class="table table-stripped">
        <tr>
          
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
         
        </tr>
       
          <% @books.each_with_index do |book, index|%>
           <tr>
              <th scope="row"><%= index + 1 %></th>
             <td><%= book.title%></td>
             <td><%= book.author%></td>
             <td><%= book.status%></td>
             <td>
               <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
               <a class="btn btn-success" href="/books/<%= book.id %>">View</a>
             </td>
           </tr>
             
           <% end %>
       
      </table>
     
      <a class="btn btn-primary col-md-2 mb-3" href="/books/new">Add a Book</a>
      <a class="btn btn-success col-md-2 mb-3 " href='/logout'>Log Out</a>
  


